
.DS_Store
Analyses/Summary Statistics/.DS_Store
Analyses/Summary Statistics/FST-DXY/.DS_Store
Bam2ANGSD/.DS_Store
Bam2ANGSD/A6/.DS_Store
Analyses/.DS_Store
Analyses/.DS_Store
Analyses/.DS_Store
Analyses/QOPT/.DS_Store
